:root
{
	--color: #776792;
	--bg: #efe8ef;
	--secondary: #d7d5e9;
	--border: #6f4d92;
	--secondary-bg: #e6d5ea;


	--serif: "EB Garamond", serif;
	--sans: "Open Sans", sans-serif;

	--shadow: 5px 5px 10px 0px #8f8f8fe6;
	--secondary-shadow: 10px 10px 20px 0px #808080e6;

	--main-gradient: radial-gradient( var(--bg), var(--secondary-bg) );
	--secondary-gradient: linear-gradient( to top right, var(--bg), var(--border), var(--color));
}

@media screen and (min-width: 1101px)
{
	main
	{
		display: grid;

		margin: 1vmax;

		grid-gap: 2rem;
		grid-template-columns: 1fr 1fr 1fr 1fr;
		grid-template-rows: 5rem 1fr 1fr 1fr;
		grid-template-areas:
			"header header header header"
			"nav preview-1 preview-2 preview-3"
			"nav preview-4 preview-5 preview-6"
			"nav preview-7 preview-8 preview-9";
	}

	header
	{
		font-family: var(--serif);

		display: flex;
		flex-direction: row;

		border: solid var(--border) 2px;
		border-radius: 3rem;
		background: var(--bg);

		flex-wrap: wrap-reverse;
		justify-content: space-between;
		align-items: center;
		grid-area: header;
	}

	/* #logo
	{
		width: auto;
		height: 4rem;
		margin-left: 4px;

		border: solid var(--secondary) 1px;
		border-radius: 50%;

		align-self: center;
	}*/

	#search
	{
		padding: 0.5rem;
		margin-left: 1rem;
		border: solid var(--secondary) 1px;
		border-radius: 3rem;
	}

	#settings
	{
		margin-right: 1rem;
		padding: 0.5rem;

		text-decoration: none;

		color: var(--color);
		border: solid var(--secondary) 1px;
		border-radius: 3rem;
		background: var(--secondary-bg);
		transition: all 0.3s 0.15s;
	}

	#settings:hover
	{
		box-shadow: var(--shadow);
	}


	nav
	{
		font-family: var(--sans);
		font-size: 2rem;

		display: inline-flex;
		flex-direction: column;

		padding: 1rem;

		border: solid var(--border) 2px;
		border-radius: 1rem;
		background: var(--bg);

		flex-wrap: wrap-reverse;
		grid-area: nav;
	}

	.link
	{
		transition: all .3 ease-out;
		text-decoration: none;

		color: var(--color);
	}

	.link::after
	{
		display: block;

		width: 0;
		height: 2px;

		content: "";
		transition: width 0.75s .1s ease;

		background: var(--color);
	}

	.link:hover::after
	{
		width: 100%;

		transition: all .5 .2 ease;
	}


	.preview
	{
		font-family: var(--serif);
		font-weight: bolder;
		font-size: x-large;
		padding: 4rem;

		text-align: center;

		color: var(--color);
		border: solid var(--secondary) 2px;
		border-radius: 1rem;
		background-image: url("preview2.jpeg");
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
		box-shadow: var(--shadow);
		transition: all 0.5s;
	}

	.preview:hover
	{
		margin-bottom: 0.3rem;
		margin-top: -0.3rem;
		font-size: 2rem;
		padding: 2rem;
		box-shadow: var(--secondary-shadow);
	}
}

@media screen and (max-width: 1100px)
{
	main
	{
		display: grid;

		margin: 1vmax;

		grid-gap: 1rem;
		grid-template-columns: 1fr 1fr 1fr;
		grid-template-rows: 4rem 1fr 1fr 1fr 32rem;
		grid-template-areas:
			"header header header"
			"preview-1 preview-2 preview-3"
			"preview-4 preview-5 preview-6"
			"preview-7 preview-8 preview-9"
			"nav nav nav";
	}

	header
	{
		font-family: var(--serif);

		display: flex;
		flex-direction: row;

		border: solid var(--border) 1px;
		border-radius: 1rem;
		background: var(--bg);

		flex-wrap: wrap-reverse;
		justify-content: space-between;
		align-items: center;
		grid-area: header;
	}

	/* #logo
	{
		width: auto;
		height: 4rem;
		margin-left: 4px;

		border: solid var(--secondary) 1px;
		border-radius: 50%;

		align-self: center;
	}*/

	#search
	{
		padding: 0.5rem;
		margin-left: 1rem;
		border: solid var(--secondary) 1px;
		border-radius: 2rem;
	}

	#settings
	{
		margin-right: 1rem;
		padding: 0.5rem;

		text-decoration: none;

		color: var(--color);
		border: solid var(--border) 1px;
		border-radius: 2rem;
		background: var(--secondary);
		transition: all 0.3s ease;
	}

	#settings:active
	{
		color: var(--secondary-bg);
	}


	nav
	{
		font-family: var(--sans);
		font-size: x-large;

		display: flex;
		flex-direction: column;

		padding: 1rem;

		border: solid var(--border) 2px;
		border-radius: 1rem;
		background: var(--bg);

		flex-wrap: wrap-reverse;
		grid-area: nav;
	}

	.link
	{
		transition: all .3 ease-out;
		text-decoration: none;

		color: var(--color);
	}

	.link::after
	{
		display: block;

		width: 0;
		height: 1px;

		content: "";
		transition: width 0.5s ease;

		background: var(--color);
	}

	.link:active::after
	{
		width: 100%;

		transition: all .5 .2 ease;
	}


	.preview
	{
		font-family: var(--serif);
		padding: 4rem;

		text-align: center;

		color: var(--secondary-bg);
		border: solid var(--border) 5px;
		border-radius: 40% / 60%;
		background-image: var(--secondary-gradient);
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
		box-shadow: var(--shadow);
		transition: all 0.3s ease;
	}

	.preview:active
	{
		font-size: 4rem;
		box-shadow: var(--secondary-shadow);
	}
}

@media screen and (max-width: 900px)
{
	main
	{
		display: grid;

		margin: 1vmax;

		grid-gap: 1rem;
		grid-template-columns: 1fr 1fr;
		grid-template-rows: 4rem 1fr 1fr 1fr 36rem;
		grid-template-areas:
			"header header header"
			"preview-1 preview-2 preview-3"
			"preview-4 preview-5 preview-6"
			"preview-7 preview-8 preview-9"
			"nav nav nav";
	}

	header
	{
		font-family: var(--serif);

		display: flex;
		flex-direction: row;

		border: solid var(--border) 1px;
		border-radius: 1rem;
		background: var(--bg);

		flex-wrap: wrap-reverse;
		justify-content: space-between;
		align-items: center;
		grid-area: header;
	}

	/* #logo
	{
		width: auto;
		height: 4rem;
		margin-left: 4px;

		border: solid var(--secondary) 1px;
		border-radius: 50%;

		align-self: center;
	}*/

	#search
	{
		padding: 0.5rem;
		margin-left: 1rem;
		border: solid var(--secondary) 1px;
		border-radius: 2rem;
	}

	#settings
	{
		margin-right: 1rem;
		padding: 0.5rem;

		text-decoration: none;

		color: var(--color);
		border: solid var(--border) 1px;
		border-radius: 2rem;
		background: var(--secondary);
		transition: all 0.3s ease;
	}

	#settings:active
	{
		color: var(--secondary-bg);
	}

	nav
	{
		font-family: var(--sans);
		font-size: x-large;

		display: flex;
		flex-direction: column;

		padding: 1rem;

		border: solid var(--border) 2px;
		border-radius: 1rem;
		background: var(--bg);

		flex-wrap: wrap-reverse;
		grid-area: nav;
	}

	.link
	{
		transition: all .3 ease-out;
		text-decoration: none;

		color: var(--color);
	}

	.link::after
	{
		display: block;

		width: 0;
		height: 2px;

		content: "";
		transition: width 0.5s ease;

		background: var(--color);
	}

	.link:active::after
	{
		width: 100%;

		transition: all .5 .2 ease;
	}


	.preview
	{
		font-family: var(--serif);
		padding: 4rem;

		text-align: center;

		color: var(--secondary-bg);
		border: solid var(--border) 5px;
		border-radius: 40% / 60%;
		background-image: var(--secondary-gradient);
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
		box-shadow: var(--shadow);
		transition: all 0.3s ease;
	}

	.preview:active
	{
		box-shadow: var(--secondary-shadow);
	}
}

body
{
	/* background-image: url(bg.jpeg); */
	/* background-color: var(--secondary-bg); */
	background-image: var(--main-gradient);

	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
	background-size: cover;
}

.loader
{
	position: fixed;
	z-index: 100000;
	right: 0;
	left: 0;

	display: flex;

	width: 100vw;
	height: 100vh;

	transition: opacity 1s, visibility 2s;

	background: var(--secondary-bg);

	align-items: center;
	justify-content: center;
}
.loader--hidden
{
	visibility: hidden;

	opacity: 0;
}

.loader::after
{
	width: 7rem;
	height: 7rem;

	content: "";
	animation: loading 1.5s ease infinite;

	border: .5rem solid var(--border);
	border-top-color: var(--secondary-bg);
	border-radius: 50%;
}

@keyframes loading
{
	0% { transform: rotate(0deg); }
	50% { transform: rotate(180deg); }
	100% { transform: rotate(360deg); }
}

.box-1
{
	grid-area: preview-1;
}

.box-2
{
	grid-area: preview-2;
}

.box-3
{
	grid-area: preview-3;
}

.box-4
{
	grid-area: preview-4;
}

.box-5
{
	grid-area: preview-5;
}

.box-6
{
	grid-area: preview-6;
}

.box-7
{
	grid-area: preview-7;
}

.box-8
{
	grid-area: preview-8;
}

.box-9
{
	grid-area: preview-9;
}

hr
{
	color: var(--secondary);
	width: 80%;
}
